__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/

venv/
.venv/
runtime_hook.py
app/build/
app/dist/
app/output/
app/env.env
*.spec
*.exe

Example_Project/SapTest/tesss_matrices.json
Example_Project/SapTest/tesss_results.json

.env
*.env

installer.txt
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

venv/
env/
.venv/

.opencivil/
encrypt_secrets.py
bundle_key.txt

runtime_hook.py
app/auth/secrets.bin

dist/
build/
*.spec


.vscode/
.idea/
*.suo
*.user


.DS_Store
Thumbs.db
desktop.ini