__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/

venv/
.venv/

app/build/
app/dist/
app/output/
Example_Project/SapTest/

*.spec
*.exe

Example_Project/SapTest/tesss_matrices.json
Example_Project/SapTest/tesss_results.json
